<!DOCTYPE html>
<html>
<title>This is the homepage</title>
<h1>{{pagename}}</h1>
<body>
    <form action="/monitor" method="POST">
        <fieldset>
            <legend>Enter the IP address of a router to begin:</legend>
            <label for="ip1">Router:</label><br />
            <input type="text" name="ip1" size="15" maxlength="15"
                        placeholder="IP address"/><br />
            <input type="submit" name="submit" value="Submit"/><br />
        </fieldset>
    </form>
</body>
</html>
