<!DOCTYPE html>
<!--
monitor.html
Html for the monitor page.
-->
<html>
    <link href="{{ url_for('static',filename='css/stylesheet.css') }}" type="text/css" rel="stylesheet">
    <head><meta http-equiv="refresh" content="{{rrate}}"></head>
    <h1>Monitoring Router: {{router}}</h1>
    <form class="search" action="/change" method="POST">
        <fieldset>
            <legend>Choose the field you would like to change:</legend>
            <select name="attribute">
                <option value="hostname">hostname</option>
                <option value="contact">contact</option>
                <option value="location">location</option>
            </select>
            <input type = "text" name="newvalue" required="required">
            <input type="submit" value="Change">
        </fieldset>
    </form>
    <form class="rfresh" action="/monitor" method="POST">
        <fieldset>
            <legend>Change the refresh rate:</legend>
            Refresh Rate (Seconds):
            <input type = "text" name="rate" required="required">
            <input type="submit" value="Change">
        </fieldset>
    </form>
    <body>
        <table>
            <tr>
                <th>Hostname</th>
                <th>Contact</th>
                <th>Uptime</th>
                <th>Location</th>
            </tr>
            <tr>
                <td>{{sysname}}</td>
                <td>{{syscontact}}</td>
                <td>{{sysuptime}}</td>
                <td>{{syslocation}}</td>
            </tr>
        </table>
    <table class="big">
        <tr class="big">
        <td class="big">
        <table>
            <thead><tr><th colspan="4">Route Table</th></tr></thead>
            <tbody>
            <tr>
                <th>Destination</th>
                <th>Mask</th>
                <th>Next Hop</th>
                <th>Metric</th>
            </tr>
            {% for x in range(0,routesize) %}
            <tr>
                <td>{{destlist[x]}}</td>
                <td>{{masklist[x]}}</td>
                <td>{{hoplist[x]}}</td>
                <td>{{metriclist[x]}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </td>
        <td class="big">
        <table>
            <thead><tr><th colspan="2">CDP Neighbors Table</th></tr></thead>
            <tbody>
            <tr>
                <th>Neighbor</th>
                <th>Local Interface</th>
            </tr>
            {% for x in range(0,cdpsize) %}
            <tr>
                <td>{{idlist[x]}}</td>
                <td>{{portlist[x]}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </td>
        </tr>
    </table>
         <form class="main"action="/">
            <input type="submit" value="Return To Main Page">
        </form>
    </body>
</html>
